{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<h2>Ajouter un nouveau mot</h2>

<div class="container col-md-6 card card-body">
<form id="newword-form" action="new-word" method="post" >
{% csrf_token %}

    <div class="form-group row">
        <label for="{{form.word.id_for_label}}" class="col-form-label col-sm-3">{{form.word.label_tag}}</label>
        <input class="form-control col-sm-9" id="{{form.word.id_for_label}}" type="text" placeholder="Entrez un nouveau mot.">
    </div>
    <div class="form-group row">
        <label for="{{form.sentence.id_for_label}}" class="col-form-label col-sm-3">{{form.sentence.label_tag}}</label>
        <textarea class="form-control col-sm-9" id="{{form.sentence.id_for_label}}" type="text" placeholder="Entrez un phrase avec le mot." rows="3"></textarea>
    </div>

{{form.word_id}}
<input class="btn btn-primary btn-block" type="submit" value="Ajouter" />
</form>
</div>
{% endblock %}